.banner {
    /* 1. Set a background image */
    background-image: url(background.jpg);   
    /* 2. Make the background image cover the banner div */
      background-size: cover;     
    /* 3. Center the image */
      background-position: center;
  }

  .banner h1 {
    color: white;
    font-size: 50px;
  }
  .banner h2 {
    color: white;
    font-size: 30px;
    font-weight: lighter;
      opacity: 0.8;
  }

  .banner {
    background-image:
      /* Transparent gradient above */
      linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 50%),
      /* Then image below */
      url('background.jpg');
  }

  .banner-with-flat-filter {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('background.jpg');
  }


  /* Button Styles */
.btn-blue {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
}

.btn-blue:hover {
    background-color: #0056b3; /* Button background color on hover */
}
